In [75]:
import pandas as pd
import gzip
import json
import ast

In [76]:
def getDF(path):
    with gzip.open(path, 'rb') as g:
        i = 0
        df = {}
        for line in g:
            # print(l)
            jsonLine = line.decode()
            # print(jsonFile)
            
            json_temp = ast.literal_eval(jsonLine)
            df[i] = json_temp
            i += 1
            if i > 1000000 : break
        return pd.DataFrame.from_dict(df, orient='index')

In [77]:
# dataset: https://cseweb.ucsd.edu//~jmcauley/datasets.html
place_df = getDF('places.clean.json.gz')
user_df = getDF('users.clean.json.gz')
review_df = getDF('reviews.clean.json.gz')

KeyboardInterrupt:

In [ ]:
user_df

,userName,jobs,currentPlace,previousPlaces,education,gPlusUserId
0,an lam,"[[Tổng công ty IDICO, Chuyên viên Kỹ thuật XD,...","[Thành phố Hồ Chí Minh, Việt Nam, [[], 1082309...","[[tp. Nam Định, Nam Định, Việt Nam, [[], 20420...","[[[], [], [], [], [], 6], [[Đại học Kiến trúc ...",100000010817154263736
1,HALİL TURGUT,"[[Mustafa Nevzat İlaç San. A.Ş., Rebrezant, []...","[Adana, [[], 370000000, 353213330, 1]]",None,"[[[], [], [], [], [], 6], [[Anadolu University...",100000013500285534661
2,森田さとこ,None,None,None,"[[[], [], [], [], [], 6], []]",100000021336848867366
3,amey kore,None,None,None,"[[[], [], [], [], [], 6], []]",100000030557048145331
4,william spindler,None,None,None,"[[[], [], [], [], [], 6], []]",100000032416892623125
...,...,...,...,...,...,...
999996,Yani AP,None,None,None,"[[[], [], [], [], [], 6], []]",103916010391485708663
999997,James Whitten,"[[keystone partnership inc, Computer Operator,...",None,None,"[[[], [], [], [], [], 6], [[Kirkwood High Scho...",103916018640092997483
999998,Chris Challis,"[[Brighton Dome & Brighton Festival, Senior Pr...","[Brighton, United Kingdom, [[], 508225300, -13...","[[Cambridge, United Kingdom, [[], 522053370, 1...","[[[], [], [], [], [], 6], []]",103916021151587303231
999999,Lorne Weston,None,None,None,"[[[], [], [], [], [], 6], []]",103916023459596619185
1000000,harry flow,"[[INDIA DEKHO TOURS & TRAVELS, , [], , ]]","[MUMBAI, [[], 190759840, 728776560, 1]]",None,"[[[], [], [], [], [], 6], [[St. Michael's Conv...",103916024621065166071

In [ ]:
place_df

,name,price,address,hours,phone,closed,gPlusPlaceId,gps
0,Diamond Valley Lake Marina,None,"[2615 Angler Ave, Hemet, CA 92545]","[[Monday, [['6:30 am--4:15 pm']]], [Tuesday, [...",(951) 926-7201,False,104699454385822125632,"[33.703804, -117.003209]"
1,Blue Ribbon Cleaners,None,"[Parole, Annapolis, MD]",None,(410) 266-6123,False,103054478949000078829,"[38.979759, -76.547538]"
2,Portofino,None,"[ул. Тутаева, 1, Nazran, Ingushetia, Russia, 3...","[[Monday, [['9:30 am--9:00 pm']]], [Tuesday, [...",8 (963) 173-38-38,False,109810290098030327104,"[43.22776, 44.762726]"
3,T C's Referee Sports Bar,$$,"[5322 W 26th St, Sioux Falls, SD 57106]","[[Monday, [['11:00 am--10:00 pm']]], [Tuesday,...",(605) 361-2208,False,100327153115986850675,"[43.529494, -96.792244]"
4,Carrefour - Palembang Square,None,"[Jl. Angkatan 45, Kompleks Palembang Square, S...","[[Monday, [['8:00 am--9:00 pm']]], [Tuesday, [...",(0711) 359918,False,103368487323937936043,"[-2.976256, 104.742662]"
...,...,...,...,...,...,...,...,...
999996,ハンダヒロコ,None,"[Japan, 東京都新宿区荒木町1, 2F]",None,03-5269-7720,False,108893878499481894432,"[35.688866, 139.721956]"
999997,Calvo Richard DDS,None,"[207 SW 156th St, Burien, WA 98166]","[[Monday, [['9:00 am--5:00 pm']]], [Tuesday, [...",(206) 246-1424,False,116896170662360855571,"[47.463011, -122.337012]"
999998,Bordo,None,"[ulitsa Khomyakova, 23, Yekaterinburg, Sverdlo...",None,8 (343) 376-88-99,False,117571067333434235736,"[56.841729, 60.572492]"
999999,Knights Inn Bucyrus,None,"[1515 N Sandusky Ave, Bucyrus, OH 44820]",None,(419) 562-3737,False,114093569325502882858,"[40.823221, -82.975434]"
1000000,"Skylake Insurance Agency, Inc.",None,"[1810 Miami Gardens Dr, North Miami Beach, FL ...","[[Monday, [['9:00 am--5:00 pm']]], [Tuesday, [...",(305) 933-2344,False,107273198374178199906,"[25.945924, -80.16366]"

In [ ]:
review_df

,rating,reviewerName,reviewText,categories,gPlusPlaceId,unixReviewTime,reviewTime,gPlusUserId
0,3.0,an lam,Chất lượng tạm ổn,[Giải Trí - Café],108103314380004200232,1.372687e+09,"Jul 1, 2013",100000010817154263736
1,5.0,HALİL TURGUT,Wc si temiz duzenli..,[Turkish Cuisine],102194128241608748649,1.342871e+09,"Jul 21, 2012",100000013500285534661
2,5.0,森田さとこ,何回も私は予定に休みがセルバに行ったので覚えて見て、分かります❗,"[Fishing, Pond Fish Supplier, Seafood Market]",101409858828175402384,1.390654e+09,"Jan 25, 2014",100000021336848867366
3,5.0,森田さとこ,今度は予定に休みが登米市に行きたい❗☀😅🌌 楽しいに日帰りに登米の見学の観光(*^)(*^-...,[Museum],101477177500158511502,1.389188e+09,"Jan 8, 2014",100000021336848867366
4,4.0,森田さとこ,気仙沼警察署に移転中に絆 👮🐎☺🙋🚓頑張ろう❗,[Police],106994170641063333085,1.390486e+09,"Jan 23, 2014",100000021336848867366
...,...,...,...,...,...,...,...,...
999996,5.0,Samuel M.,Le restaurant japonais au 1er étage et excelle...,None,111105601242055456626,NaN,None,101586699127866483484
999997,5.0,Rafikul Islam,None,[Mosque],104561877040588530963,1.379497e+09,"Sep 18, 2013",101586700305750373547
999998,4.0,vindhya desai,None,[Car Rental Agency],111910270703653623637,1.376201e+09,"Aug 10, 2013",101586706485324089219
999999,1.0,vindhya desai,Very Very Bad Service! Not once but whenever I...,"[Taxi Service, Car Rental Agency]",117832221299409404156,1.376389e+09,"Aug 13, 2013",101586706485324089219
1000000,1.0,Tanja B,Absolutely horrible. DO NOT waste your money t...,[Pet Groomer],105803960854555812020,1.385355e+09,"Nov 24, 2013",101586707871735620640

In [ ]:
review_place_df = pd.merge(left=review_df, right=place_df)
review_place_df

,rating,reviewerName,reviewText,categories,gPlusPlaceId,unixReviewTime,reviewTime,gPlusUserId,name,price,address,hours,phone,closed,gps
0,5.0,森田さとこ,久しぶりに仙台市八木山ベニーランドに乗りたい❗,[Theme Park],107443380765688783479,1.390193e+09,"Jan 19, 2014",100000021336848867366,八木山ベニーランド,None,"[Japan, 〒982-0837 Miyagi, Sendai, Taihaku Ward...",None,022-229-1603,False,"[38.24675, 140.848436]"
1,4.0,佐々木蘭,良いところだけど、 幽霊とか居るからあまり好きに なれない。 近くに自殺スポット有りますし。,[Theme Park],107443380765688783479,1.389821e+09,"Jan 15, 2014",100050791909819923240,八木山ベニーランド,None,"[Japan, 〒982-0837 Miyagi, Sendai, Taihaku Ward...",None,022-229-1603,False,"[38.24675, 140.848436]"
2,4.0,Kei Kawai,None,[Theme Park],107443380765688783479,1.289790e+09,"Nov 14, 2010",101413910070163733438,八木山ベニーランド,None,"[Japan, 〒982-0837 Miyagi, Sendai, Taihaku Ward...",None,022-229-1603,False,"[38.24675, 140.848436]"
3,4.0,森田さとこ,イベントの光のページェント が素晴らしい❗🔍 私はとても仮面ライダーが素晴らしいが良いがです🎵ネ。,[Art Museum],111367239248458923884,1.390446e+09,"Jan 22, 2014",100000021336848867366,石ノ森章太郎ふるさと記念館,None,"[Machi-132 Nakadacho Ishinomori, Tome, Miyagi ...",None,0220-35-1099,False,"[38.719869, 141.213545]"
4,4.0,森田さとこ,ヒマ👽休みが仙台市科学館 に行って見ます❗,[Science Museum],111951491217608644315,1.390388e+09,"Jan 22, 2014",100000021336848867366,仙台市科学館,None,"[4-1 Dainoharashinrinkoen, Aoba Ward, Sendai, ...",None,022-276-2201,False,"[38.298826, 140.883233]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324891,2.0,R. M.J.R.,"Called to inquire about services, phone rep wa...",[Barber Shop],113880239806346316357,1.374006e+09,"Jul 16, 2013",101586650157122080590,Prime time Barbershop,None,"[6230 Coral Ridge Dr #107, Coral Springs, FL 3...","[[Monday, [['10:00 am--6:00 pm']]], [Tuesday, ...",(954) 796-8226,False,"[26.307418, -80.280561]"
324892,1.0,Vasile Ionescu,None,[Lodging],108296273483904283648,1.392374e+09,"Feb 14, 2014",101586658594633931181,Erbas,None,"[Strada Alexandru Șerbănescu, București, Romania]",None,None,False,"[44.484137, 26.096928]"
324893,5.0,Kelly Frappier,We recently moved to Houston from NH. This pl...,[Mexican Restaurant],116120770189094899831,1.386281e+09,"Dec 5, 2013",101586669102463194988,Old Mexico,None,"[3306 Hopper Rd, Houston, TX 77093]","[[Monday, [['Closed']]], [Tuesday, [['Closed']...",(281) 442-3519,False,"[29.879441, -95.336543]"
324894,2.0,Rakhi Anoop,"The food sucks!!! The food was flavorless, mea...",[Barbecue Restaurant],104690069542707897406,1.339293e+09,"Jun 9, 2012",101586681596673838193,Brothers Ribs,None,"[758 W Euclid Ave, Palatine, IL 60067]","[[Monday, [['11:00 am--9:00 pm']]], [Tuesday, ...",(847) 776-7427,False,"[42.088285, -88.060746]"
324895,5.0,Jacob Prater,Best latte I've ever had.,[Coffee Shop],101238497512006303873,1.383573e+09,"Nov 4, 2013",101586691371523296915,Warehouse 4 coffee,None,"[335 S Dixie Dr, Vandalia, OH 45377]",None,(937) 387-6640,False,"[39.887442, -84.199271]"

In [79]:
user_place_review_df = pd.merge(left=review_place_df, right=user_df)
user_place_review_df = user_place_review_df.drop(['userName', 'reviewText', 'previousPlaces'], axis=1)
rename_map = {'name': 'placeName', 'phone': 'placePhone', 'hours':'openHours'}
user_place_review_df = user_place_review_df.rename(columns=rename_map)
user_place_review_df = user_place_review_df.sort_values('reviewerName')
user_place_review_df = user_place_review_df.reset_index()
user_place_review_df = user_place_review_df.drop(['index'], axis=1)
user_place_review_df

,rating,reviewerName,categories,gPlusPlaceId,unixReviewTime,reviewTime,gPlusUserId,placeName,price,address,openHours,placePhone,closed,gps,jobs,currentPlace,education
0,3.0,Majed Mahamad,[Hotel],106381406649728330377,1.376844e+09,"Aug 18, 2013",100154665428166851763,Nejoum Al Emarat,None,"[Al Qasmiya Street, Sharjah, United Arab Emira...",None,06 563 5555,False,"[25.354124, 55.389923]",None,None,"[[[], [], [], [], [], 6], []]"
1,5.0,Kseniya Luneva,"[Bar, Espresso Bar, Dessert Restaurant]",105507986360245818791,1.385181e+09,"Nov 22, 2013",100565695984856187665,Shokoladnitsa,None,"[Svetlanskaya ulitsa, 13, Vladivostok, Primors...","[[Monday, [['9:00 am--12:00 am']]], [Tuesday, ...",8 (423) 241-18-77,False,"[43.116449, 131.882732]",None,None,"[[[], [], [], [], [], 6], []]"
2,4.0,Altorky Ary,[Restaurant],104232535606391853890,1.388865e+09,"Jan 4, 2014",100182961044015225196,Ali Kifk,None,"[Al Qasaei Bahri, Qesm AR Ramel, Alexandria Go...",None,None,False,"[31.238504, 29.975918]",None,None,"[[[], [], [], [], [], 6], []]"
3,3.0,Altorky Ary,[Restaurant],108529728000241614469,1.388864e+09,"Jan 4, 2014",100182961044015225196,Masmat Elsharawi,None,"[Dana Al Gadidah WA Izbat Al Westaneyah, Qesm ...",None,None,False,"[31.241286, 29.982366]",None,None,"[[[], [], [], [], [], 6], []]"
4,5.0,Khabab Alrasheed,[Mosque],109157480408272834292,1.375701e+09,"Aug 5, 2013",100131044426877986306,مسجد السيد الإدريسي,None,"[Gebra South, Khartoum, Sudan]",None,None,False,"[15.519389, 32.533595]",None,None,"[[[], [], [], [], [], 6], []]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307406,4.0,李鳳宰,[Korean Restaurant],103526869970157977800,1.371010e+09,"Jun 11, 2013",100214210903502341432,Seoul Jib,None,[10/12-13 Sukhumvit Soi 33 Sukhumvit Rd. Klong...,None,02 662 2517,False,"[13.733838, 100.567798]",None,None,"[[[], [], [], [], [], 6], [[한양 공업 고등학교, 건축과, [..."
307407,3.0,ＪＪ ＤＲＧＯＮ,"[Ramen Restaurant, Noodle Shop]",106559045229264747996,1.385641e+09,"Nov 28, 2013",100604419748331116919,ラーメン在,None,"[2 Chome-3001 Hirosawacho, Kiryū, Gunma 376-00...",None,0277-52-4332,False,"[36.394556, 139.320932]",None,None,"[[[], [], [], [], [], 6], []]"
307408,3.0,ｋ ｍ,[Japanese Restaurant],108210918309431349020,1.365816e+09,"Apr 12, 2013",100712896556975627529,旬菜新舟,None,"[3 Chome-3-23 Horiwari, Kamisu, Ibaraki 314-01...",None,0299-92-5251,False,"[35.924726, 140.639922]",None,"[茨城, [[], 362869210, 1404245140, 1]]","[[[], [], [], [], [], 6], []]"
307409,2.0,ｋ ｍ,"[Ramen Restaurant, Noodle Shop]",101496113947688115152,1.353499e+09,"Nov 21, 2012",100712896556975627529,めん丸神栖店,None,"[1990-1 Okunoya, Kamisu, Ibaraki 314-0116, Japan]",None,0299-96-7622,False,"[35.881349, 140.681666]",None,"[茨城, [[], 362869210, 1404245140, 1]]","[[[], [], [], [], [], 6], []]"
307410,2.0,ｲｹﾓﾄｺｳｼﾞ,[Budget Hotel],110095005399956398148,1.390922e+09,"Jan 28, 2014",100522111091499875714,ホテル オレール 西条,None,"[Japan, 〒793-0030, 西条市 大町798-9]",None,0897-55-2440,False,"[33.912903, 133.187905]",None,None,"[[[], [], [], [], [], 6], []]"