In [1]:
import pandas as pd
import numpy as np

In [2]:
def showDFBasicInfo(df):
    # check if duplicated
    print('is duplicated exist: ' + str(df[df.duplicated()]))
    # check if null
    np.where(pd.isnull(df))
    # print type of data in DataFrame 
    print(df.dtypes)

In [3]:
test = pd.read_csv('data/test.csv')

In [4]:
test_df = test
test_df.head(3)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2556790 entries, 0 to 2556789
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   id                  int64
 1   msno                object
 2   song_id             object
 3   source_system_tab   object
 4   source_screen_name  object
 5   source_type         object
dtypes: int64(1), object(5)
memory usage: 117.0+ MB

In [5]:
# map gender to binary
test_df = test_df.drop(index=test_df[(test_df.source_system_tab.isnull()) | (test_df.source_screen_name.isnull()) | (test_df.source_type.isnull())].index)
# reset index
test_df = test_df.reset_index()
test_df = test_df.drop(['index'],axis=1)
test_df.source_system_tab.unique()

array(['my library', 'radio', 'discover', 'search', 'listen with',
       'explore', 'notification', 'settings'], dtype=object)

In [6]:
source_system_tab_map = {'explore' : 0, 'my library': 1, 'search':2, 'discover':3,
 'radio':4, 'listen with':5, 'notification':6, 'settings':7}
test_df['source_system_tab'] = test_df.source_system_tab.map(source_system_tab_map)

In [7]:
test_df.head(3)

,id,msno,song_id,source_system_tab,source_screen_name,source_type
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,1,Local playlist more,local-library
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,1,Local playlist more,local-library
2,3,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,ztCf8thYsS4YN3GcIL/bvoxLm/T5mYBVKOO4C9NiVfQ=,4,Radio,radio

In [8]:
source_screen_name_list = np.array(test_df.source_screen_name.unique())
source_screen_name_map = {}
for i in range(len(source_screen_name_list)):
    temp_str = str(source_screen_name_list[i])
    source_screen_name_map.update({temp_str:i})

print(source_screen_name_map)
test_df['source_screen_name'] = test_df.source_screen_name.map(source_screen_name_map)

{'Local playlist more': 0, 'Radio': 1, 'Online playlist more': 2, 'Artist more': 3, 'Discover Genre': 4, 'Album more': 5, 'Discover Chart': 6, 'Discover Feature': 7, 'Search': 8, 'Unknown': 9, 'Explore': 10, 'Others profile more': 11, 'My library': 12, 'My library_Search': 13, 'Search Trends': 14, 'Discover New': 15, 'Search Home': 16, 'Payment': 17, 'Self profile more': 18, 'People local': 19, 'Concert': 20, 'People global': 21}

In [9]:
test_df.head(3)

,id,msno,song_id,source_system_tab,source_screen_name,source_type
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,1,0,local-library
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,1,0,local-library
2,3,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,ztCf8thYsS4YN3GcIL/bvoxLm/T5mYBVKOO4C9NiVfQ=,4,1,radio

In [10]:
source_type_list = np.array(test_df.source_type.unique())
source_type_map = {}
for i in range(len(source_type_list)):
    temp_str = str(source_type_list[i])
    source_type_map.update({temp_str:i})

print(source_type_map)
test_df['source_type'] = test_df.source_type.map(source_type_map)

{'local-library': 0, 'radio': 1, 'local-playlist': 2, 'online-playlist': 3, 'top-hits-for-artist': 4, 'song-based-playlist': 5, 'album': 6, 'song': 7, 'listen-with': 8, 'my-daily-playlist': 9, 'topic-article-playlist': 10, 'artist': 11}

In [12]:
test_df.head(3)

,id,msno,song_id,source_system_tab,source_screen_name,source_type
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,1,0,0
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,1,0,0
2,3,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,ztCf8thYsS4YN3GcIL/bvoxLm/T5mYBVKOO4C9NiVfQ=,4,1,1

In [13]:
test_df.to_csv('data_cleaned/test.csv')