In [149]:
import pandas as pd
import numpy as np

In [150]:
members = pd.read_csv('data/members.csv')

In [151]:
def showDFBasicInfo(df):
    # check if duplicated
    print('is duplicated exist: ' + str(df[df.duplicated()]))
    # check if null
    np.where(pd.isnull(df))
    # print type of data in DataFrame 
    print(df.dtypes)

In [152]:
members_df = members
# drop out the outlier 
members_df = members_df.drop(index=members_df[(members_df.bd > 100) | (members_df.bd < 5) | members_df.gender.isnull()].index)
# reset index
members_df = members_df.reset_index()
members_df = members_df.drop(['index'],axis=1)

showDFBasicInfo(members_df)
members_df.head(3)

is duplicated exist: Empty DataFrame
Columns: [msno, city, bd, gender, registered_via, registration_init_time, expiration_date]
Index: []
msno                      object
city                       int64
bd                         int64
gender                    object
registered_via             int64
registration_init_time     int64
expiration_date            int64
dtype: object

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,zgPOEyUn5a/Fvuzb3m69ajzxjkbblVtObglW89FzLdo=,13,43,female,9,20120703,20171006
1,GoFYKhcq8Q5Gjz1M5L0azHZOhcY+Za/T7fRqIGgBuYA=,12,28,male,9,20060531,20170816
2,RoSfblbwJN/izEnFIVw8TgOpm8R/NEpUC84Oz/b32HQ=,15,33,female,3,20150915,20171019

In [153]:
# add field: registration year
registration_year = []
for index in range(len(members_df)):
    year = str(members_df.registration_init_time[index])
    temp_list = [members_df.msno[index], year[:4]]
    registration_year.append(temp_list)
registration_year_arr = np.array(registration_year)
registration_year_df = pd.DataFrame(data=registration_year, columns=['msno', 'registration_year'])
members_df = pd.merge(left=members_df, right=registration_year_df)

In [154]:
members_df = members_df

In [155]:
# map gender to binary
gender_map = {'female' : 0, 'male': 1}
members_df['gender'] = members_df.gender.map(gender_map)

In [156]:
members_df.head(3)
members_df.to_csv('data_cleaned/members.csv')