In [1]:
import pandas as pd
import numpy as np

In [2]:
def showDFBasicInfo(df):
    # check if duplicated
    print('is duplicated exist: ' + str(df[df.duplicated()]))
    # check if null
    np.where(pd.isnull(df))
    # print type of data in DataFrame 
    print(df.dtypes)

In [3]:
train = pd.read_csv('data/train.csv')

In [4]:
train_df = train
train_df.head(3)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7377418 entries, 0 to 7377417
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   msno                object
 1   song_id             object
 2   source_system_tab   object
 3   source_screen_name  object
 4   source_type         object
 5   target              int64
dtypes: int64(1), object(5)
memory usage: 337.7+ MB

In [5]:
# map gender to binary
train_df = train_df.drop(index=train_df[(train_df.source_system_tab.isnull()) | (train_df.source_screen_name.isnull()) | (train_df.source_type.isnull())].index)
# reset index
train_df = train_df.reset_index()
train_df = train_df.drop(['index'],axis=1)
train_df.source_system_tab.unique()

array(['explore', 'my library', 'search', 'discover', 'radio',
       'listen with', 'notification', 'settings'], dtype=object)

In [6]:
source_system_tab_map = {'explore' : 0, 'my library': 1, 'search':2, 'discover':3,
 'radio':4, 'listen with':5, 'notification':6, 'settings':7}
train_df['source_system_tab'] = train_df.source_system_tab.map(source_system_tab_map)

In [7]:
train_df.head(3)

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,0,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,1,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,1,Local playlist more,local-playlist,1

In [8]:
source_screen_name_list = np.array(train_df.source_screen_name.unique())
source_screen_name_map = {}
for i in range(len(source_screen_name_list)):
    temp_str = str(source_screen_name_list[i])
    source_screen_name_map.update({temp_str:i})

print(source_screen_name_map)
train_df['source_screen_name'] = train_df.source_screen_name.map(source_screen_name_map)

{'Explore': 0, 'Local playlist more': 1, 'My library': 2, 'Online playlist more': 3, 'Album more': 4, 'Discover Feature': 5, 'Unknown': 6, 'Discover Chart': 7, 'Radio': 8, 'Artist more': 9, 'Search': 10, 'Others profile more': 11, 'Search Trends': 12, 'Discover Genre': 13, 'My library_Search': 14, 'Search Home': 15, 'Discover New': 16, 'Self profile more': 17, 'Concert': 18, 'Payment': 19}

In [9]:
train_df.head(3)

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,0,0,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,1,1,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,1,1,local-playlist,1

In [10]:
source_type_list = np.array(train_df.source_type.unique())
source_type_map = {}
for i in range(len(source_type_list)):
    temp_str = str(source_type_list[i])
    source_type_map.update({temp_str:i})

print(source_type_map)
train_df['source_type'] = train_df.source_type.map(source_type_map)

{'online-playlist': 0, 'local-playlist': 1, 'local-library': 2, 'album': 3, 'song-based-playlist': 4, 'radio': 5, 'top-hits-for-artist': 6, 'song': 7, 'listen-with': 8, 'artist': 9, 'topic-article-playlist': 10, 'my-daily-playlist': 11}

In [12]:
train_df.head(3)

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,0,0,0,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,1,1,1,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,1,1,1,1

In [13]:
train_df.to_csv('data_cleaned/train.csv')